nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo > h1{
    font-family: sans-serif;
    color: blue;
}
.logo-image{
    height: 50px;
}
.login-button{
    background-color: blue;
    border: none;
    padding: 10px 15px;
    color: beige;
    border-radius: 10px;
    cursor: pointer;
}
.login-button:hover{
    background-color: pink;
}
.container{
    display: flex;
    gap: 20px;
    flex-wrap: wrap ;
}
.product{
    /* background-color: teal; */
    /* display: inline-block; */
    padding: 20px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 20%;
}
.product-image{
    height: 200px;
    width: 200px;

}
