nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo > h1{
    font-family: sans-serif;
    color: blue;
}
.logo-image{
    height: 50px;
}
.login-button{
    background-color: blue;
    border: none;
    padding: 10px 15px;
    color: beige;
    border-radius: 10px;
    cursor: pointer;
}
.login-button:hover{
    background-color: pink;
}